*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
img{
    max-width: 100%;
}
/* Header style Start */
.header-wrapper{
    background: #000000;
    color: #ffffff;
    font-size: 0.75rem;
    font-weight: 300;

}
.header-wrapper ul{
    display: flex;
    justify-content: space-between;
}
.internal-wrapper{
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}
.header-wrapper .internal-wrapper ul {
    list-style: none;
    
}
.header-wrapper .internal-wrapper ul li a{
     text-decoration: none;
     color: #fff;
}
.header-wrapper .internal-wrapper ul li {
    display: inline-block;
    height: 25px;
    padding: 14PX 0 8PX;
    opacity: 0.8;
}
.header-wrapper .internal-wrapper ul li:hover{
    opacity: 1;
}
.logo-link, .search-link,.cart-link{
    width: 18px;
    display: block;
}
.header-wrapper .internal-wrapper ul li.logo-link{
    padding: 12px 0 10px;

}
.header-wrapper .internal-wrapper ul li.search-link{
    padding: 12px 0 8px;

}
.header-wrapper .internal-wrapper ul li.cart-link{
    padding: 12px 0 10px;

}

/* Header style End */

/* Main style Start */


.main-highlight-wrapper{
    background: #fafafa;
    text-align: center;
    padding: 25px 0;
}
.model{
    font-size: .85em;
}
.main-highlight-wrapper ul{
    list-style: none;
}
.product-title{
    font-weight: 700;
    font-size: 56px;
}
.product-description{
    font-size: 2em;
}
.link-wrapper{
    padding: 20px 0;
}
.link-wrapper ul li{
    display: inline-block;
    padding-right: 20px;
}
.link-wrapper ul li a{
    text-decoration: none;
    color: #06c;

}
.link-wrapper ul li a:hover{
    color: #000;
}
.link-wrapper ul li a::after{
    font-weight: 900;
    content: '\f054';
    font-family: 'fontawesome';
    padding-left: 10px;
}
.second-section-wrapper{
    background-image:  url('../images/home/iphone11-pro-bg.jpg');
    height: 580px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px 20px;
    color: #fff;
}
.title{
    font-weight: 600;
    font-size: 56px;

}
.description{
    font-size: 26px;
    padding: 10px 0;
}
.price{
    font-size: 0.85em;
    color: #86868b;
}
.third-section-wrapper{
    background-image: url('../images/home/iphone11-bg.jpg');
    height: 580px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px 20px;
}
.fourth-highlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
   
}
.left-side-wrapper{
    width: 48.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px 20px;
    height: 580px;
    text-align: center;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .left-side-wrapper{
    background-image: url('../images/home/watch-series-5.jpg');
}
.right-side-wrapper{
    width: 48.5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 65px 20px;
    height: 580px;
    text-align: center;
    margin: 1% 0.5% 0% 1%;
    padding-top: 54px;
}
.fourth-highlight-wrapper .right-side-wrapper{
    background-image: url('../images/home/apple-card.jpg');
}
.description{
    max-width: 550px;
    margin: 0 auto;
    padding: 5px;
}
.fifth-highlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.fifth-highlight-wrapper .left-side-wrapper{
    background-image: url('../images/home/apple-tv-background.jpg');
}
.fifth-highlight-wrapper .right-side-wrapper{
    background-image: url('../images/home/air-pods.jpg');
    color: #fff;
    background-size: initial;
    background-position: bottom;
    background-color: #000;
}
.logo-wrapper{
    font-size: 40px;
    font-weight: bold;
}
.tvshow-logo-wrapper{
    padding: 180px 0 200px;
}
.watch-more-wrapper{
    padding-top: 50px;
}
.watch-more-wrapper a{
    text-decoration: none;
    font-size: .85em;
   

}
.watch-more-wrapper a::after{
    font-family: "FONTAWESOME";
    font-weight: 900;
    content: '\f144';
    padding-left: 15px;
}
.sixth-higlight-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #fff;
}
.sixth-higlight-wrapper .left-side-wrapper{
    background-image: url('../images/home/macbook-pro.jpg');
    background-size: initial;
    background-position: bottom;
    background-color: #fafafa;
}
.sixth-higlight-wrapper .right-side-wrapper{
    background-image: url('../images/home/new-ipad.jpg');
}
.product-title-small{
    font-size: 45px;
    font-weight: 700;
}