*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
body{
    font-family: 'monsterrat',sans-serif;
    font-size: 20px;
    
}
.header-wrapper{
    background-color: #000;
    color: #fff;
    font-size: .75em;
    font-weight: 200;
    
}
.header-wrapper ul{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
}
.internal-wrapper{
    width: 980px;
    margin: 0 auto;

}
.header-wrapper .header-link-wrapper ul li{
    display: inline-block;
    padding: 14px 0 8px;
    height: 25px;
    opacity: .8;
    
}
.header-wrapper .header-link-wrapper ul li a{
    color: #fff;
    text-decoration: none;
}
.header-wrapper .header-link-wrapper ul li:hover{
    opacity: 1;
}
.logo-link, .cart-link, .search-link{
    width: 18px;
}
.header-wrapper .header-link-wrapper ul li.logo-link{
    padding: 12px 0 10px
}

.header-wrapper .header-link-wrapper ul li.search-link{
    padding: 14px 0 8px;
}
.header-wrapper .header-link-wrapper ul li.cart-link{
    padding: 12px 0 10px;
}


.foter-wrapper{
    background-color: #f5f5f7;
    color: #1d1d1f;
    font-size: .65em;
}
.uppertext-wrapper{
    color: #86868b;
    padding: 17px 0 14px;
    border-bottom: 1px solid #d2d2d7;
}
.uppertext-wrapper a{
    color: #86868b;
    text-decoration: none;
}
.uppertext-wrapper a:hover{
    text-decoration: underline;
}

.footer-links-wrapper{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
   padding-top: 20px;
}
.footer-links-wrapper ul{
    list-style: none;
    padding-bottom: 20px;

}
.footer-links-wrapper ul li a{
    color: #515154;
    text-decoration: none;
}
.footer-links-wrapper ul li a:hover{
    text-decoration: underline;
}
.footer-links-wrapper ul li{
    padding: 5px 0;
    font-size: .95em;
}
.footer-links-wrapper h3{
    font-weight: 600;
    font-size: 12px;
    }
    .footer-myapple-wrapper{
        margin-bottom: 10px;
        border-bottom: 1px solid #d2d2d7;
        padding-bottom: 10px;
    }
    .footer-myapple-wrapper a{
        color: rgb(6, 40, 194);
    }

   .footer-allConta{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    font-size: .93em;
    align-items: center;
   }
   .footer-allConta ul{
    list-style: none;
   }
   .footer-legal-wrapper ul li{
    display: inline-block;
    padding: 10px 0;
   }
   .footer-legal-wrapper ul li a{
    color: #86868b;
    text-decoration: none;

   }
   .footer-legal-wrapper ul li a::after{
    content: "|";
    padding-left: 10px;
    color: #86868b;
   }
   .footer-country-flag ul li{
    display: inline-block;
    padding: 10px 0;

}

.country-icon{
    display: inline-block;
    vertical-align: middle;
}

.main-highlight-wrapper{
    text-align: center;
    padding-top: 25px;
}
.main-highlight-wrapper ul{
    list-style: none;
}

.model{
    font-size: .85em;
    padding: 8px;
}
.product-title{
    font-weight: 600;
    font-size: 56px;
}
.product-description{
   font-size: 2em;
}
.link-wrapper{
padding: 25px 0;
}
.link-wrapper ul li{
    display: inline-block;
    padding-left: 10px;
}
.link-wrapper ul li a{
    color: rgb(32, 53, 150);
    text-decoration: none;
}